{% extends 'base.html.twig' %}

{% block title %}
    أسئلة هامة عن فيرس كورونا (كوڤيد-19)
    |
    {{ parent() }}
{% endblock %}

{% block header %}
    <h1 class="display-5">أسئلة هامة عن فيرس كورونا (كوڤيد-19)</h1>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h3>ما هو فيروس كورونا؟</h3>
            <p>
                فيروسات كورونا هي فصيلة كبيرة من الفيروسات التي قد تسبب المرض للحيوان والإنسان.  ومن المعروف أن عدداً من فيروسات كورونا تسبب لدى البشر حالات عدوى الجهاز التنفسي التي تتراوح حدتها من نزلات البرد الشائعة إلى الأمراض الأشد وخامة مثل متلازمة الشرق الأوسط التنفسية والمتلازمة التنفسية الحادة الوخيمة (السارس). ويسبب فيروس كورونا المُكتشف مؤخراً مرض فيروس كورونا كوفيد-19.
            </p>
        </div>
        <div class="col-md-12">
            <h3>ما هو مرض كوفيد-19؟</h3>
            <p>
                مرض كوفيد-19 هو مرض معد يسببه فيروس كورونا المُكتشف مؤخراً. ولم يكن هناك أي علم بوجود هذا الفيروس وهذا المرض المستجدين قبل اندلاع الفاشية في مدينة يوهان الصينية في كانون الأول/ ديسمبر 2019.
            </p>
        </div>

        <div class="col-md-12">
            <h3>ما هي أعراض مرض كوفيد-19؟</h3>
            <p>
                تتمثل الأعراض الأكثر شيوعاً لمرض كوفيد-19 في الحمى والإرهاق والسعال الجاف. وقد يعاني بعض المرضى من الآلام والأوجاع، أو احتقان الأنف، أو الرشح، أو ألم الحلق، أو الإسهال. وعادة ما تكون هذه الأعراض خفيفة وتبدأ تدريجياً. ويصاب بعض الناس بالعدوى دون أن تظهر عليهم أي أعراض ودون أن يشعروا بالمرض. ويتعافى معظم الأشخاص (نحو 80%) من المرض دون الحاجة إلى علاج خاص. وتشتد حدة المرض لدى شخص واحد تقريباً من كل 6 أشخاص يصابون بعدوى كوفيد-19 حيث يعانون من صعوبة التنفس. وتزداد احتمالات إصابة المسنين والأشخاص المصابين بمشكلات طبية أساسية مثل ارتفاع ضغط الدم أو أمراض القلب أو داء السكري، بأمراض وخيمة. وقد توفى نحو 2% من الأشخاص الذين أُصيبوا بالمرض. وينبغي للأشخاص الذين يعانون من الحمى والسعال وصعوبة التنفس التماس الرعاية الطبية.
            </p>
        </div>

        <div class="col-md-12">
            <h3>كيف ينتشر مرض كوفيد-19؟</h3>
            <p>
                يمكن أن يصاب الأشخاص بعدوى مرض كوفيد-19 عن طريق الأشخاص الآخرين المصابين بالفيروس. ويمكن للمرض أن ينتقل من شخص إلى شخص عن طريق القُطيرات الصغيرة التي تتناثر من الأنف أو الفم عندما يسعل الشخص المصاب بمرض كوفيد-19 أو يعطس. وتتساقط هذه القُطيرات على الأشياء والأسطح المحيطة بالشخص. ويمكن حينها أن يصاب الأشخاص الآخرون بمرض كوفيد-19 عند ملامستهم لهذه الأشياء أو الأسطح ثم لمس عينيهم أو أنفهم أو فمهم. كما يمكن أن يصاب الأشخاص بمرض كوفيد-19 إذا تنفسوا القُطيرات التي تخرج من الشخص المصاب بالمرض مع سعاله أو زفيره. ولذا فمن الأهمية بمكان الابتعاد عن الشخص المريض بمسافة تزيد على متر واحد (3 أقدام).
            </p>
        </div>

        <div class="col-md-12">
            <h3>هل يمكن للفيروس المسبب لمرض كوفيد-19 أن ينتقل عبر الهواء؟</h3>
            <p>
                تشير الدراسات التي أُجريت حتى يومنا هذا إلى أن الفيروس الذي يسبب مرض كوفيد-19 ينتقل في المقام الأول عن طريق ملامسة القُطيرات التنفسية لا عن طريق الهواء. انظر الإجابة عن السؤال السابق: "كيف ينتشر مرض كوفيد-19؟"
            </p>
        </div>

        <div class="col-md-12">
            <h3>هل يمكن أن يصاب المرء بالمرض عن طريق شخص عديم الأعراض؟</h3>
            <p>
                تتمثل الطريقة الرئيسية لانتقال المرض في القُطيرات التنفسية التي يفرزها الشخص عند السعال. وتتضاءل احتمالات الإصابة بمرض كوفيد-19 عن طريق شخص عديم الأعراض بالمرة. ولكن العديد من الأشخاص المصابين بالمرض لا يعانون إلا من أعراض طفيفة. وينطبق ذلك بصفة خاصة على المراحل المبكرة للمرض. ولذا فمن الممكن الإصابة بمرض كوفيد-19 عن طريق شخص يعاني مثلاً من سعال خفيف ولا يشعر بالمرض. وتعكف المنظمة على تقييم البحوث الجارية بشأن فترة انتقال مرض كوفيد-19 وستواصل نشر أحدث النتائج.
            </p>
        </div>

        <div class="col-md-12">
            <h3>هل ينتقل كوفيد ١٩ من خلال جثث الموتى؟</h3>
            <p>
                أعلنت منظمة الصحة العالمية انه بإستثاء المصابين بالإيبولا او الكوليرا، المتوفين بكوفيد ١٩ جثثهم غير مُعدية، ( مع الاخذ في الاعتبار ان تغسيل المتوفى يتم بواسطة فريق طبي مجهز لذلك وأخذ كل احتياطات السلامة اللازمة عند التعامل)، وانه بخلاف ذلك، لا داعي للذعر
            </p>
        </div>

        <div class="col-md-12">
            <h3>هل يمكن أن أصاب بمرض كوفيد-19 عن طريق براز شخص مصاب بالمرض؟</h3>
            <p>
                تبدو مخاطر انتقال مرض كوفيد-19 عن طريق براز الشخص المصاب بالعدوى محدودة. وفي حين أن التحريات المبدئية تشير إلى أن الفيروس قد يتواجد في البراز في بعض الحالات، فإن انتشاره عبر هذا المسار لا يشكل إحدى السمات الرئيسية للفاشية. وتعكف المنظمة على تقييم البحوث الجارية بشأن طرق انتشار مرض كوفيد-19 وستواصل نشر النتائج الجديدة. ولكن نظراً إلى ما ينطوي عليه ذلك من مخاطر، فإنه يعد سبباً آخر لتنظيف اليدين بانتظام بعد استخدام دورة المياه وقبل تناول الطعام.
            </p>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">هل تريد عمل إختبار لنفسك؟</h5>
                    <button type="button" class="close float-left m-0 p-1" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <p>يساعد هذا الإختبار على تقييم وضعك الصحي تجاه الإصابة بفيرس كورونا (كوفيد-19)</p>
                    <a class=" btn btn-warning text-white" href="{{path('corona-test')}}">إبدأ الإختبار</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        setTimeout(function(){
            $("#exampleModal").modal('show');
        }, 5000);
    </script>
{% endblock %}
