{% trans_default_domain 'FOSUserBundle' %}

{% extends 'base.html.twig' %}

{% block title %}
   إجراءات العزل المنزلي
    |
    {{ parent() }}
{% endblock %}

{% block header %}
    <h1 class="display-5">إجراءات العزل المنزلي</h1>
{% endblock %}

{% block body %}
    <ul class="list-unstyled">
        <li>1- عدم خروج الشخص المخالط من المنزل طوال فترة العزل المنزلي.</li>
        <li>2- تخصيص مكان بالمنزل نظيف وجيد التهوية، وتجنب جميع الزيارات والأنشطة الاجتماعية.</li>
        <li>3- عدم التنقل كثيرا من المكان المخصص للعزل إلى مكان آخر.</li>
        <li>4- العزل يستمر لمدة 14 يومًا من تاريخ آخر اختلاط مباشر أو غير مباشر مع الحالات المصابة بفيروس كورونا المستجد.</li>
        <li>5- يجب على المخالطين ارتداء كمامة تناسب الوجه خاصة عند التعامل مع أحد أفراد الأسرة، والتخلص منها بعد الاستخدام بوضعها داخل كيس مغلق وإلقائه في سلة المهملات.</li>
        <li>6- تغطية الأنف والفم أثناء العطس أو الكحة بمنديل ورقي والتخلص منه بوضعه داخل كيس مغلق وإلقائه بسلة المهملات.</li>
        <li>7- غسل اليدين باستمرار بالماء والصابون لمدة 20 ثانية على الأقل أو تدليك اليدين بمطهر كحولي.</li>
        <li>8- تناول وجبات الطعام بشكل منفصل عن أفراد الأسرة، واتباع نظام غذائي متوازن.</li>
        <li>9- شرب الماء الدافئ بدلًا من المشروبات الباردة.</li>
        <li>10-عدم مشاركة الأدوات المنزلية الشخصية مثل الأطباق أو الأكواب أو المناشف مع أفراد الأسرة.</li>
        <li>11- يجب غسل الأدوات المستخدمة جيدًا بالماء والصابون مع ضرورة ارتداء قفازات مطاطية أثناء الغسل.</li>
        <li>12- يجب تنظيف جميع الأسطح التي يتم لمسها كثيرًا مثل (أجهزة الكمبيوتر المشتركة، مقابض الأبواب، الهواتف المنزلية، تجهيزات الحمام، الطاولات بجانب السرير).</li>
        <li>13- عدم الإفراط في تناول المضادات الحيوية.</li>
        <li>14- ضرورة قياس الحرارة كل 8 ساعات للشخص المعزول، وإذا ظهرت عليه أعراض صعوبة في التنفس أو إسهال أو ارتفاع في درجة حرارة الجسم.</li>
        <li>15-في حالة ظهور أعراض يجب الاتصال بالخط الساخن (105)، أو التوجه إلى المستشفى فورًا لإجراء التحاليل اللازمة، وتجنب المواصلات العامة والأماكن المزدحمة.</li>
        <li>16- البقاء على بعد مترين على الأقل فى حالة ضرورة الاختلاط مع أفراد الأسرة.</li>
        <li>17- استخدام غرفة منفصلة للنوم وحمام منفصل إذا كان متاحًا.</li>
        <li>18- التهوية الجيدة للمنزل.</li>
    </ul>
{% endblock %}