{% trans_default_domain 'FOSUserBundle' %}

{% extends 'base.html.twig' %}

{% block title %}
    إعزل نفسك
    |
    {{ parent() }}
{% endblock %}

{% block header %}
    <h1 class="display-5">إعزل نفسك</h1>
{% endblock %}

{% block body %}
    {% if not is_granted('ROLE_USER') %}
        <p>
            إذا كنت تشعر ببعض الأعراض وتشك في مدى إصابتك بفيروس كورونا, تستطيع عمل عزل ذاتي لنفسك عن طريق:
        </p>
        <ul>
            <li>قم بعمل إختبار بسيط لتشخصيص حالتك <a class="text-bold" href="{{ path('corona-test') }}" target="_blank"><u>من هنا</u></a> </li>
            <li>حسب نتيجة الإختبار, سيتم توجيهك لصفحة العزل عن طريق تسجيل حساب خاص بك</li>
            <li>بعد تسجيل حساب جديد, سيتم توجيهك إلى صفحة عزلك</li>
        </ul>

    {% endif %}

    <hr/>
    <h3>ما هي جدول العزل؟</h3>
    <p>
        هو جدول تستطيع من خلاله متابعة حالتك لمدة 14 يوم من بداية تسجيلك معنا, من خلاله سيقوم طبيب متخصص بمتابعتك والتواصل مع تطورات حالتك خلال ال14 يوم عزل. كل يوم يجب أن تقوم بإدخال تحديثات حالتك أولا بأول
        حتى يستطيع الطبيب المتخصص التواصل مع حالتك عن طريق تقييمها وكتابة تعليق عنها بشكل يومي.
    </p>
    <h3>تعليمات هامة عند بداية العزل</h3>
    <ul>
        <li>قم بعزل نفسك بشكل تام في حجرة خاصة بك في المنزل</li>
        <li>تجنب التحدث مع أي شخص وجها لوجه, واذا لزم الأمر قم بإرتداء كمامة وحافظ على مسافة لا تقل عن مترين</li>
        <li>قم بوضع كل أدواتك الشخصية في غرفتك لتقليل فرص الخروج منها</li>
        <li>تأكد من وجود تهوية مناسبة في الغرفة وعدم إستخدام مروحة السقف</li>
        <li>تحديد فرد من الأصحاء في أسرتك (غير المسن ولا يعاني من أمراض مزمنة) ليقدم لك الطعام والمستلزمات الأخرى كالمطهرات والكمامات وكل ذلك بدون الدخول في غرفة عزلك</li>
    </ul>

    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">هام جدا</h4>
        <ul>
            <li>هذا العزل للأعراض البسيطة المقبولة.</li>
            <li>إذا شعرت بزيادة في شدة الأعراض, يجب أن تتوجه مباشرة لمستشفى العزل لتقديم الدعم الكامل لحالتك.
            أو اتصل على الرقم المخصص لوزارة الصحة (105).
            </li>
        </ul>
    </div>
{% endblock %}