{% trans_default_domain 'FOSUserBundle' %}

{% extends 'base.html.twig' %}

{% block title %}
    إستعادة كلمة السر
    |
    {{ parent() }}
{% endblock %}

{% block header %}
    <h1 class="display-4">إستعادة كلمة السر</h1>
{% endblock %}

{% block body %}
    <p>
        {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
    </p>
{% endblock %}