{# application/templates/pages/blocked.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Website Blocked</title>
</head>
<body>
<h1>Access Disallowed</h1>
<p>Your access to this website is temporary disabled, please contact us: covid19egypt.org@gmail.com</p>
</body>
</html>