{# application/templates/pages/blocked.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Website Blocked</title>
</head>
<body>
<h1>Access Disallowed</h1>
<p>This website doesn't work in your country</p>
</body>
</html>